.navbar-brand {
  color: #212529;
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
.hero {
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("/storage/images/background.jpg");
	height:75vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
}
.hero-text {
	text-align:center;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:white;
}
.hero-text h1 {
	font-size:48px;
	font-weight:600;
	font-style: "Poppins", sans-serif;
}

* {
	font-style: "Poppins", sans-serif;
}

h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-style:"Montserrat";
}
#post p, #post li{
	font-size: 16px;
}
a{
	font-style:"Montserrat";
}
a .icons {
	width:48px;
	padding:0 8px;
}